* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: #5d3c22; 
}

body {
    font-family: "Montserrat", sans-serif;
    color: #5d3c22;
}

.container {
    width: 90vw;
    margin: 0 auto;
}

a {
    text-decoration: none;
}


li {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.header, .all_contacts {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo img {
    width: 10vw;
}

.all_contacts-item:not(:last-child) {
    margin-right: 25px;
}

.icon {
    font-size: 2em;
    color: #5d3c22;
}

/* promotion */

.promotion {
    width: 100%;
    display: block;
  }
  
  .slide {
    width: 100vw;
    display: block;
    color: white;
    background: rgb(88,59,42, 0.3);
    display: none;
    font-size: 1em;
    text-align: center;
    padding: 20px 0;
    font-family: Lato, Calibri, Arial, sans-serif;
  }
  
  .slide.active {
    display: block;
  }
  
/* main-title */

.main-title {
    text-align: center;
}


h1 {
    font-size: 72px;
    line-height: 72px;
    margin-bottom: 50px;
}

h3 {
    margin-bottom: 1em;
}

.main-title_txt {
    padding: 50px;
    font-size: 20px;
    line-height: 28px;
}

.main-title_txt p:not(:last-child) {
    margin-bottom: 0px;
}

.video {
    width: 100vw;
    object-fit: fill;
}

/* why-we */
 
.whyWe {
    padding: 2rem;
    width: 90vw;
    display: flex;
    flex-wrap: wrap;
    align-items: space-around;
    justify-content: space-between;
  }
  
  .whyWe_cols {
    width: calc(33% - 0.3rem);
    margin-bottom: 15px;
    padding: 5%;
    text-align: center;
    box-shadow: 0 4px 8px 0 rgb(88,59,42, 0.3);
  }
  
  .whyWe_cols img {
    width: 30%;
    margin-bottom: 3em;
  }
  
  .whyWe_cols p {
    font-size: 16px;
  }


  /* itc-slider */
   
.itc-slider {
    position: relative;
  }
  
  .itc-slider__wrapper {
    overflow: hidden;
  }
  
  .itc-slider__items {
    display: flex;
    transition: transform 0.5s ease;
    will-change: transform;
  }
  
  .itc-slider__transition-none {
  transition: none;
  }

  .itc-slider__item {
    display: flex;
    flex-direction: column;
  }

  .itc-slider__item-bg {
    height: 175px;
  }

  .itc-slider__item-bg {
    background-size: cover;
  }

  .itc-slider__item-txt {
    font-size: 16px;
  }
  
  
  /* кнопки влево и вправо */
  .itc-slider__btn {
    position: absolute;
    top: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 5vw;
    height: 10%;
    color: #fff;
    text-align: center;
    /* background: rgb(0 0 0 / 20%); */
    border: none;
    transform: translateY(-50%);
    cursor: pointer;
  }
  
  .itc-slider__btn_hide {
    display: none;
  }
  
  .itc-slider__btn_prev {
    left: 0;
  }
  
  .itc-slider__btn_next {
    right: 0;
  }
  
  .itc-slider__btn:hover,
  .itc-slider__btn:focus {
    color: #fff;
    text-decoration: none;
    /* background: rgb(0 0 0 / 30%); */
    outline: 0;
  }
  
  .itc-slider__btn::before {
    content: "";
    display: inline-block;
    width: 60px;
    height: 60px;
    background: transparent no-repeat center center;
    background-size: 100% 100%;
  }
  
  .itc-slider__btn_prev::before {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
  }
  
  .itc-slider__btn_next::before {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
  }
  
  


@media (max-width:1600px) {
    .container {
        width: 95vw;
    }
  .whyWe {
    width: 100vw;
  }
  

  
}


@media (max-width:1280px) {
  
    .whyWe {
        min-height: 120vh;
      }
    
      .whyWe_cols {
        width: calc(50% - 0.3rem);
      }  
    
      
}



@media (max-width:1120px) {
    .main-title_txt {
        padding: 25px;
    }
}


@media (max-width:1040px) {
    /* .icon span {
        display: none;
    } */
}


@media (max-width:960px) {
   
    .main-title_txt p {
        text-align: left;
    }

    .whyWe {
        justify-content: center;
      }
  
      .whyWe_cols {
        width: 80vw;
        margin-bottom: 20px;
    }
  
    .whyWe_cols img {
    }
}


@media (max-width:600px) {
    * {
        padding: 0;
        margin: 0;
    }
    h1 {
        font-size: 36px;
        line-height: 22px;
        margin-bottom: 26px;
    }

    .main-title_txt {
        font-size: 18px;    
    }

    .whyWe_cols img {
        margin-bottom: 1em;
    }

    .all_contacts-item a{
        font-size: 28px;
    }

    .slide {
        font-size: 10px;
    }

    .all_contacts span {
        display: none;
    }

    .
}

