
*, 
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

a {
    cursor: pointer;
    text-decoration: none;
}

.container {
    width: 70%;
    margin: 0 auto;   
}

h1 {
  font-size: 12rem;
  margin-bottom: 120px;
}

h2 {
  font-size: 7.5rem;
  text-align: center;
  margin: 60px;
}

h3 {
  font-size: 3.125rem;
  margin-bottom: 24px;
}

p, a {
  font-size: 3rem;
}

header {
  margin-bottom: 100px;
}

.header_top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 80vw;
    position: absolute;
    z-index: 10;
}

.header_top a {
    color: #fff;
}

.logo img {
    height: 500px;
}

.front {
    background-size: cover;
    text-align: left;
    height: 1700px;
    color: #fff;
}
  
.front:after {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 1700px;
    content: '';
    display: block;
    opacity: .6;
    background-color: #000;
}
  
.inner {
    top: 60%;
    position: relative;
    z-index: 2;
}
  
.front .inner p {
  margin-bottom: 32px;
}
  
.whyWe {
  padding: 2rem;
  width: 70vw;
  display: flex;
  flex-wrap: wrap;
  align-items: space-around;
  justify-content: space-between;
}

.whyWe_cols {
  width: calc(33% - 0.3rem);
  padding: 5%;
  text-align: center;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.25);
}

.whyWe_cols img {
  width: 30%;
  margin-bottom: 3em;
}

.whyWe_cols p {
  font-size: 2.5rem;
}
  
.itc-slider {
  position: relative;
}

.itc-slider__wrapper {
  overflow: hidden;
}

.itc-slider__items {
  display: flex;
  transition: transform 0.5s ease;
  will-change: transform;
}

.itc-slider__transition-none {
transition: none;
}


/* кнопки влево и вправо */
.itc-slider__btn {
  position: absolute;
  top: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 5vw;
  height: 100%;
  color: #fff;
  text-align: center;
  background: rgb(0 0 0 / 20%);
  border: none;
  transform: translateY(-50%);
  cursor: pointer;
}

.itc-slider__btn_hide {
  display: none;
}

.itc-slider__btn_prev {
  left: 0;
}

.itc-slider__btn_next {
  right: 0;
}

.itc-slider__btn:hover,
.itc-slider__btn:focus {
  color: #fff;
  text-decoration: none;
  background: rgb(0 0 0 / 30%);
  outline: 0;
}

.itc-slider__btn::before {
  content: "";
  display: inline-block;
  width: 60px;
  height: 60px;
  background: transparent no-repeat center center;
  background-size: 100% 100%;
}

.itc-slider__btn_prev::before {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
}

.itc-slider__btn_next::before {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
}

.lorem {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80vw;
  min-height: 15vh;
}

.lorem p {
  line-height: 2rem;
  margin-bottom: 10vh;
}

footer {
  background: #000;
  height: 60vh;
}

.footer {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer a {
  color: #fff;
}


@media (max-width: 1920px){ 

  .container {
    width: 90%;
  }

  h1 {
    font-size: 6rem;
  }

  h2 {
    font-size: 4.5rem;
  }

  h3 {
    font-size: 3rem;
    margin-bottom: 0.5em;
  }

  p, a {
    font-size: 2.5rem;
  }
      
  header {
    min-height: 900px;
    padding-bottom: 100px;
  }

  .logo img {
    height: 300px;
  }

  .front {
    height: 1000px;
  }

  .front::after {
    height: 1000px;
  }

  .front .inner p {
    margin-bottom: 3rem;
  }

  .inner {
    width: 80%;
    top: 50%;
  }

  .whyWe {
    padding: 0;
  }

  .whyWe p {
    font-size: 2rem;
  }

  .whyWe_cols img {
    width: 30%;
    margin-bottom: 1em;
  }

}

@media (max-width: 1600px){ 
  

  h1 {
    font-size: 5rem;
  }

  .logo img {
    height: 200px;
}
  .front {
    height: 700px;
  }

  .front::after {
    height: 900px;
  }

  .inner {
    width: 100%;
  }

  .whyWe {
    min-height: 120vh;
  }

  .whyWe_cols {
    width: calc(50% - 0.3rem);
  }  

  .whyWe_cols img {
    width: 45%;
  }

  
footer {
  height: 30vh;
}
  
}


@media (max-width: 1280px){
  h2 {
    font-size: 3.5rem;
  }

  h3 {
    font-size: 2rem;
  }
  p, a {
    font-size: 2rem;
  }
      
  .whyWe p {
    font-size: 1.5rem;
  }
  .whyWe_cols img {
    width: 25%;
    margin-bottom: 1em;
  }
}

@media (max-width: 1024px){
    container {
      width: 100%;
    }

    h1 {
      margin-bottom: 2rem;
    }

    p, :-moz-any-link {
      font-size: 1.6rem;
    }
    
    .whyWe_cols img {
      width: 20%;
      margin-bottom: 1em;
    }

    .logo img {
      max-height: 200px;
    }

    .whyWe_cols {
      width: 100%;
      margin-bottom: 15px;
    }

    
 }

@media (max-width: 768px){ 

  header {
    min-height: 400px;
  }
 

  .front {
    height: 400px;
  }

  .front::after {
    height: 500px;
  }

  .inner {
    top: 60%;
  }

  h1 {
    font-size: 2.75rem;
  }

  h2 {
    font-size: 2rem;
  }

  p {
    font-size: 1.25rem;
  }
  
  a {
    font-size: 1.1rem;
  }

  
    
  footer {
      max-height: 25vh;
  }
}



@media (max-width: 480px){ 
  header {
    min-height: 350px;
    padding-bottom: 60px;
    margin-bottom: 30px;
  } 

   .front {
    height: 300px;
  }

  .front::after {
    height: 350px;
  }  

  .logo img {
    height: 150px;
  }
    
  .inner {
    top: 40%;
  }
  h1 {
    font-size: 2rem;
  }

  h2 {  
    font-size: 1.75rem;
  }
    
  h3 {
      font-size: 1.25rem;
  }

  p, a  {
    font-size: 1rem;
  }

 .inner p {
    margin-bottom: 2rem;
  }
  
  .logo img {
    height: 100px;
  }
  .whyWe p {
    font-size: 1rem;
  }

 
}
